<br>
<br>
<h2 style="color: brown; text-align: center;">  <-------------------- BÀI 1 -------------------->  </h2>
<br>
<br><!-- <app-b1></app-b1> -->
<div >
  <div >
    <app-header></app-header>
  </div>
  <div>
    <app-body></app-body>
  </div>
  <div>
  <app-footer></app-footer></div>
  </div>
<br>
<br>
<h2 style="color: brown; text-align: center;">  <-------------------- BÀI 2 -------------------->  </h2>
<br>
<br>
<!-- <app-b2></app-b2> -->
<app-header2></app-header2>
<app-body2></app-body2>
<app-footer2></app-footer2>

